<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Para navegar é fácil, você precisa, clicar nas categorias, caso não possua receitas,
	pode ser realizado o login se possuir conta ou criar uma nova conta, para disponibilizar suas receitas para 
	todos. Seja Bem vindo ao receitas online, o seu livro de receitas na web.
	
</p>



