<% provide(:title, 'Usuários') %>
<div class="row">
	<aside class="span3">
 				<h1>Usuários</h1>
 		</aside>
 		
	<div class="span7">
	

		<%= will_paginate %>

		<ul class="users">
			<%= render @users %>
		</ul>

		<%= will_paginate %>
	</div>
</div>