<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src=<%= image_tag revenue.image.url(:thumb)%> alt="Receita">
      <div class="caption">
        <h3>revenue.name</h3>
        <%= revenue.ingredients %>
        <%= revenue.preparation %>
      </div>
    </div>
  </div>
</div>